@layout({fullwidth: unpoly})
 @slot("head")
    @vite(["resources/js/pages/blur/show.js"])
 @end
 <div class="w-full h-full">
 <canvas class="w-full h-full" data-hash="{{blur.value}}" data-meta="{{blur.metadata}}" id="hash" />
 </div>
@end
